In [1]:
import pandas as pd

In [2]:
D = pd.read_csv("https://github.com/junaart/ForStudents/raw/refs/heads/main/R/Zachet/DataSets/6.csv",sep=";")
display(D)

,region,nature,techic,medic,agro,piople,human
0,Республика Адыгея,10407.5,66425.0,7155.3,63343.5,27332.5,27735.7
1,Республика Алтай,23425.2,3009.2,150.0,25404.0,8361.8,29394.6
2,Республика Башкортостан,1230187.9,5659374.4,960709.4,105219.4,152508.7,221711.2
3,Республика Бурятия,651148.1,31009.1,28835.6,57507.9,150744.3,129918.4
4,Республика Дагестан,385341.2,173959.1,54181.3,100532.2,118397.2,137097.6
...,...,...,...,...,...,...,...
79,Ханты-Мансийский автономный округ – Югра,476942.9,2097411.3,67142.4,0.0,102544.7,61863.3
80,Чукотский автономный округ,38168.4,1069.8,0.0,0.0,0.0,0.0
81,Ямало-Ненецкий автономный округ,26850.1,0.0,31925.3,0.0,41481.9,36055.0
82,Республика Крым,296207.0,158602.7,19922.2,698827.5,8704.2,53605.0
83,Севастополь,525019.8,106588.3,0.0,0.0,17250.7,1315.0

In [3]:
import redis as rd

In [4]:
r = rd.Redis()
key = "my_ww."
for i in range(len(D["nature"])):
    r.set(key+str(i),str(D["nature"].iloc[i]))

In [5]:
D.columns

Index(['region', 'nature', 'techic', 'medic', 'agro', 'piople', 'human'], dtype='object')

In [6]:
r = rd.Redis()
key = "my_ww2."
for i in range(len(D["techic"])):
    r.set(key+str(i),str(D["techic"].iloc[i]))

In [7]:
r = rd.Redis()
key = "my_ww3."
for i in range(len(D["medic"])):
    r.set(key+str(i),str(D["medic"].iloc[i]))

In [8]:
r = rd.Redis()
key = "my_ww4."
for i in range(len(D["agro"])):
    r.set(key+str(i),str(D["agro"].iloc[i]))

In [9]:
r = rd.Redis()
key = "my_ww5."
for i in range(len(D["piople"])):
    r.set(key+str(i),str(D["piople"].iloc[i]))

In [11]:
r = rd.Redis()
key = "my_ww6."
for i in range(len(D["human"])):
    r.set(key+str(i),str(D["human"].iloc[i]))